.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
node_modules/cjson/test/**
node_modules/ebnf-parser/tests/**
node_modules/fast-json-stable-stringify/example/**
node_modules/fast-json-stable-stringify/test/**
node_modules/jison/tests/**
node_modules/jison-lex/tests/**
node_modules/JSONSelect/src/test/**
node_modules/JSONSelect/src/build/**
node_modules/JSONSelect/src/dist/**
node_modules/JSONSelect/site/**
node_modules/jsonpath/test/**
node_modules/jsonpath/jsonpath.js
node_modules/jsonpath/jsonpath.min.js
node_modules/json-source-map/spec/**
node_modules/json-schema-traverse/spec/**
node_modules/lex-parser/tests/**
node_modules/nomnom/test.js
node_modules/nomnom/test/**
node_modules/tar/test/**
node_modules/tar/examples/**
node_modules/wordwrap/test/**
node_modules/wordwrap/examples/**
node_modules/uri-js/tests/**
node_modules/**/README.md
node_modules/**/README.markdown
node_modules/**/README.txt
node_modules/**/CHANGELOG.md
.vstoken
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json